:root {
  --fontcolor: #11828f;
  --blackcolor: rgb(40, 39, 39);
}

* {
  box-sizing: border-box;
}

.mobile-container {
  max-width: auto;
  margin: auto;

}

body {
  background-color: rgb(196, 193, 193);
  font-family: "Lucida Console", monospace;
  text-transform: uppercase;
  margin: 0;
  height: 80%;
}

svg {
  position: sticky;
  width: 100%;
  height: 100%;
}

.animation {
  font: 14.5em/1 Open Monospace, Lucida Console;
}

.topnav {
  overflow: hidden;
  background-color: #03383b;
  position: relative;

}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: var(--blackcolor);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: var(--blackcolor);
}

.logo {
  height: 300px;

  justify-content: center;
  border-radius: 50%;
  display: block;
}

.myname {

  font-weight: bold;
  color: var(--blackcolor);
  font-size: 40px;
}

.profile {

  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.section-title {
  font-size: 35px;
  color: var(--fontcolor);
  margin: 0 0 0 0px;
  width: 50%;
  display: block;
  text-align: center;
  justify-content: center;
  flex: 2 3%;
  border-right: 5px solid #39a6b2;
  height: 80px;

}



.step-text {
  line-height: 1.3;
  font-size: 30px;
  text-align: center;
  margin-left: 30px;
  width: 100%;
  color: var(--blackcolor);
  flex: 2 3%;

}

.step-text-list {
  font-size: 20px;
  display: block;
  list-style-type: square;
  text-align: center;
}

.galery a {
  display: block;
  align-items: flex-start;
  justify-content: space-evenly;
  flex: 70;
  flex-wrap: wrap;

}

.gallery {
  display: block;
  background-size: cover;
  height: 80%;
  object-fit: contain;
  width: 400px;

}

figcaption {
  position: absolute;
  margin-left: 5px;
  margin-top: -20%;
  font-size: 25px;
  font-style: bold;
  font-weight: bold;
  color: rgb(22, 44, 44);
  border: solid 1px var(--fontcolor);
  background-color: rgb(229, 232, 238);
}

.footer {
  overflow: hidden;
  background-color: #03383b;
  position: center;
  font-size: 17px;
  text-decoration: none;
  padding: 16px 16px;

}

.list-inline {
  display: inline
}

.list-inline-item {
  display: inline
}

/*query*/


@media only screen and (max-width: 70rem) {
  .topnav {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    line-height: 1.5;
  }

  header nav ul li a {
    font-size: 16px;
    font-weight: bold;
  }
}

/*animation*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.text {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #F2385A;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}

.text:nth-child(5n + 2) {
  stroke: #F5A503;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #E9F1DF;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #56D9CD;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #3AA1BF;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}






























/* .contact {
  display: block;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 30px 60px;
  border: 2px;
  border-color: #03383b;
  width: 90%;
  align-items: center;
} */
/*.contact-info {
  flex: 150;
}

.contact-info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: left;
  list-style: none;
  margin-left: 15px;
  width: 100%;
}

.contact-info ul li a {
  margin: 0 30px;
  font-size: 18px;
  color: var(--fontcolor);
  text-decoration: none;
  border-bottom: 3px solid;
  padding-bottom: 2px;
}
header {
  width: 100%;
  padding-bottom: 10px;
  justify-content: center;
}

header h1 {
  width: 100%;
  text-align: center;
}



.hero {
  height: 400px;
  background-size: cover;
}

.hero h2 {
  font-size: 25px;
  margin-top: 350px;
  color: white;
}

.image2 {
  height: 100px;
  width: 100px;
}


.step-text p {
  width: 85%;
}

.section-title {
  width: 100%;
  text-align: right;
  font-weight: bold;
}

.border1 {
  height: 350px;
}

.border2 {
  height: 280px;
}

.border3 {
  height: 180px;
}

.container {
  width: 100%;
}

figcaption {
  margin-left: 5px;
  margin-top: -45%;
  font-size: 30px;
}

.contact-info ul {
  width: 100%;
  justify-content: left;
  flex-direction: column;
}

.contact-info ul li a {
  font-size: 18px;
  line-height: 2;
  font-weight: bold;
}

.image2 {
  top: 220px;
}*/