:root {
  --fontcolor: #11828f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', bold, Times, serif;
  background-color: rgb(196, 193, 193);
}



.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #03383b;
  height: 500px;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #03383b;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.logo {
  height: 80px;
  margin: 0;
  justify-content: center;
  border-radius: 50%;
}

.myname {
  color: var(--fontcolor);
  font-weight: bold;
  color: white;
  font-size: 40px;
}



.hero {
  height: 400px;
  background-image: url("https://cdn.pixabay.com/photo/2015/10/29/14/39/web-1012469_960_720.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
}

.section-title {
  font-size: 35px;
  font-family: bold;
  color: var(--fontcolor);
  margin: 0 0 0 0px;
  width: 50%;
  display: flex;
  justify-content: left;
  flex: 2 3%;
  border-right: 5px solid #39a6b2;
  height: 150px;

}

.step-text {
  flex: 25;
  font-size: 35px;
}

.step-text p {
  line-height: 1.3;
  font-size: 30px;
  text-align: left;
  margin-left: 30px;
  width: 100%;
  color: var(--fontcolor);

}

.galery a {
  display: block;
  align-items: flex-start;
  justify-content: space-evenly;
  flex: 70;
  flex-wrap: wrap;

}

.gallery {
  display: block;
  background-size: cover;
  height: 80%;
  object-fit: contain;
  width: 400px;

}

figcaption {
  position: absolute;
  margin-left: 5px;
  margin-top: -20%;
  font-size: 25px;
  font-style: bold;
  font-weight: bold;
  color: rgb(22, 44, 44);
  border: solid 1px var(--fontcolor);
  background-color: rgb(229, 232, 238);
}


/* .contact {
  display: block;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 30px 60px;
  border: 2px;
  border-color: #03383b;
  width: 90%;
  align-items: center;
} */


.contact-info {
  flex: 150;
}

.contact-info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: left;
  list-style: none;
  margin-left: 15px;
  width: 100%;
}

.contact-info ul li a {
  margin: 0 30px;
  font-size: 18px;
  color: var(--fontcolor);
  text-decoration: none;
  border-bottom: 3px solid;
  padding-bottom: 2px;
}


/*header*/
/* header {
  color: var(--fontcolor);
  font-family: bold;
  font-size: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

} */

/* .active {
  background-color: whitesmoke;
  font-family: bold;
} */
/* .gallery_item {
  position: relative;
  
  background-image: url("https://cdn.pixabay.com/photo/2015/10/29/14/39/web-1012469_960_720.jpg");
  
  background-position: center;

  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
}

.gallery__img {
  
  
 
  flex-grow: 1;

} */


/* .gallery1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;


}

.gallery2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 10;
  grid-row-end: 10;
}

.gallery3 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 5;
}

.gallery4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 10;
  grid-row-end: 10;
}

.gallery5 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 5;
  grid-row-end: 5;
} */




/* .header h1 {
  height: 80px;
  font-weight: bold;
  color: var(--fontcolor);
  margin: 0;
  position: right;
} */



/* 
header nav {
  margin: 10px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
} */

/* header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 20px;
  color: var(--fontcolor);
  text-decoration: none;
  border-bottom: 2px solid;
  padding-bottom: 2px;
} */







/*

/*hero*/


/*
.hero h2 {
  font-style: bold;
  font-size: 80px;
  color: var(--fontcolor);
  margin-top: 30px;
  background-color: rgb(196, 197, 199);
}


/*avatar*/
/* .image2 {
  position: absolute;
  top: 50px;
  left: 50px;
  border: 4px var(--fontcolor) solid;
  height: 300px;
  width: 300px;
}



/*Work*/
/* 





.step-info {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 2 20%;
  justify-content: center;
}

.border1 {
  flex: 2 3%;
  border-right: 5px solid #39a6b2;
  height: 150px;

}


.border2 {
  border-right: 5px solid #39a6b2;
  height: 1000px;
  flex: 2 10%;

}



.container {
  display: flex;
  align-items: flex-start;
  margin-left: 20px;

  justify-content: space-evenly;


}

.container {
  flex: 70;
  flex-wrap: wrap;
}





*/

/*contact*/
/*
.border3 {
  border-right: 3px solid #39a6b2;
  height: 100px;
  flex: 2 5%;

}



.resume {
  margin: 20px 20px;
  color: #024e76;
} */

/*query*/

@media only screen and (max-width: 70rem) {
  header {
    width: 100%;
    padding-bottom: 10px;
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  .topnav {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    line-height: 1.5;
  }

  header nav ul li a {
    font-size: 16px;
    font-weight: bold;
  }

  .hero {
    height: 400px;
    background-size: cover;
  }

  .hero h2 {
    font-size: 25px;
    margin-top: 350px;
    color: white;
  }

  .image2 {
    height: 100px;
    width: 100px;
  }


  .step-text p {
    width: 85%;
  }

  .section-title {
    width: 100%;
    text-align: right;
    font-weight: bold;
  }

  .border1 {
    height: 350px;
  }

  .border2 {
    height: 280px;
  }

  .border3 {
    height: 180px;
  }

  .container {
    width: 100%;
  }

  figcaption {
    margin-left: 5px;
    margin-top: -45%;
    font-size: 30px;
  }

  .contact-info ul {
    width: 100%;
    justify-content: left;
    flex-direction: column;
  }

  .contact-info ul li a {
    font-size: 18px;
    line-height: 2;
    font-weight: bold;
  }

  .image2 {
    top: 220px;
  }



}